h3 {
  text-transform: capitalize;
}
/* width */
.ChatContent [class*="react-scroll"]::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.ChatContent [class*="react-scroll"]::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ChatContent [class*="react-scroll"]::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 50px;
}

/* Handle on hover */
.ChatContent [class*="react-scroll"]::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ChatContent {
  position: relative;
  padding: 0px;
}

.ChatContent form {
  background: #fff;
}

form.chatform {
  background: #ececec !important;
  padding: 18px 15px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 105px;
  right: 0;
  max-width: 500px;
  margin: auto;
  bottom: 70px;
}

.chat-form-group {
  background: #fff;
  padding: 12px 10px;
  border-radius: 100px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  margin-right: 15px;
}

.chat-form-group input {
  border: none;
  background: transparent;
  padding: 0 15px;
  width: calc(100% - 36px);
  font-weight: 500;
  color: #000;
}

.chat-form-group input:focus {
  outline: none;
  box-shadow: none;
}

.chat-form-group .send-btn {
  border: none;
  background: transparent;
}

.chat-form-group .send-btn i {
  color: #50663c;
  font-size: 20px;
}
.choose-file {
  background: #fff !important;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  position: relative;
}

.choose-file .fa.fa-paperclip {
  font-size: 22px;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  padding: 14px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.choose-file input {
  opacity: 0;
}

.message.sent,
.message.received {
  font-size: 14px;
  padding: 6px 15px;
  border-radius: 10px 10px 0 10px;
  background: #eeffdc;
  margin: 0;
  float: right;
  box-shadow: none;
  /* min-width: 150px; */
  display: block;
  clear: both;
  text-align: right;
  max-width: calc(100% - 100px);
  text-align: justify !important;
}
.dateandtime {
  position: absolute;
  font-size: 11px !important;
  color: #888 !important;
  right: 0;
  bottom: -6px;
}

.message-list {
  position: relative;
  padding: 15px 0;
  margin: 32px 0;
}
.message-list:after,
.message-list:before {
  display: table;
  content: "";
  clear: both;
}
.message.received .dateandtime {
  right: auto;
  left: 0px;
}

.message.sent p,
.message.received p {
  margin: 0;
  text-transform: capitalize;
}

.message.received {
  float: left;
  background: #f5f5f5;
  text-align: left;
  border-radius: 10px 10px 10px 0;
}

.message.sent *,
.message.received * {
  color: #000 !important;
  font-size: 14px;
  font-weight: normal;
}
.ChatContent > button {
  position: absolute;
  right: 33%;
  background: #50663c !important;
  padding: 20px;
}
.followButton:before {
  content: "";
}

.followbtn:before {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.ChatContent .chat-outerbx {
  max-width: 500px;
  background-color: #fff;
  margin: auto;
  padding: 24px;
  height: calc(100vh - 240px);
}
.chatingmember {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 15px;
}
.message.sent .chatingmember {
  display: none;
}

.dateandtime span {
  color: #888 !important;
  font-size: 12px !important;
}

.message.sent i,
.message.received i {
  font-weight: 900;
  margin-right: 10px;
}

.hasAttach span {
  cursor: pointer;
}
.sendername {
  position: absolute;
  top: -8px;
  font-weight: 500 !important;
  font-size: 13px !important;
  left: 0;
}

.message.received.hasAttach i,
.message.sent.hasAttach i {
  margin-right: 0 !important;
}

.message.received.hasAttach {
  background-color: #f5f5f5 !important;
}

.right-contant {
  padding-bottom: 64px;
}

.ChatContent {
  height: calc(100% - 150px);
}
.choose-file {
  cursor: pointer;
}
.choose-file input {
  height: 100%;
  cursor: pointer;
}
.chat-menu .MuiPaper-root.MuiMenu-paper {
  min-width: 180px;
}

.chat-menu .MuiPaper-root.MuiMenu-paper .MuiMenuItem-root {
  width: 100%;
  justify-content: space-between;
}

.chatCount {
  position: relative;
}
.chat-menu .MuiPaper-root.MuiMenu-paper li:focus {
  background: transparent;
}

.chat-menu .MuiPaper-root.MuiMenu-paper li {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 15px;
}

.chat-menu .MuiPaper-root.MuiMenu-paper li:last-child {
  border: none;
}

span.chatCount svg {
  width: 16px;
}

@media screen and (max-width: 479px) {
  .message.sent,
  .message.received {
    max-width: calc(100% - 36px);
  }
  .message.sent,
  .message.received {
    max-width: calc(100% - 36px);
  }

  .chat-form-group {
    min-width: 220px;
    padding: 5px 10px 8px 20px;
  }

  .chat-form-group input {
    padding: 0;
    width: 100%;
  }

  form.chatform {
    padding: 20px 10px;
  }

  .ChatContent .chat-outerbx {
    height: 100vh;
  }

  .choose-file .fa.fa-paperclip {
    padding: 13px 5px;
    font-size: 15px;
  }

  .choose-file {
    width: 40px !important;
    height: 40px;
  }

  .chat-form-group input {
    font-size: 13px;
  }
}
